.nav{
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 80px;
    width: 92.5%;
    z-index: 1;
    background: transparent;
    
}

.nav .logo {
    font-size: large;
}

.nav .link-list {
    background-color: rgba(73, 80, 87, .25);
    backdrop-filter: blur(20px);
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px 100px;
    
}

.link-list .link {
    padding: 20px;
    margin: 0 5px;
}

.link-list .link :after{
    content: "";
    left: 0;
    right: 0;
    width: 0;
    height: 3px;
    position: absolute;
    background-color: azure;
    transition: .3s;
    bottom: 0px;
}

.link-list .link :hover{
    opacity: .6;
}

.link-list .link :hover:after{
    width: 100%;
}

.link-list .link .l{
    text-decoration: none;
    color: azure;
    
}